<span class="icon -mr-4">
    <svg width="20" height="20" fill="none">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M10 1v1m0 16v1m-8-9H1m3.314-5.686-.689-.689m12.06.69.69-.69M4.315 15.69l-.69.69m12.06-.69.69.69M19 10h-1m-3 0a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
    </svg>
</span>