<span class="icon" id="theme-switch">
    <svg id="theme-switch-dark" class="hide" width="20" height="20" fill="none">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M10 1v1m0 16v1m-8-9H1m3.314-5.686-.689-.689m12.06.69.69-.69M4.315 15.69l-.69.69m12.06-.69.69.69M19 10h-1m-3 0a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/></svg>

    <svg id="theme-switch-light" class="hide" width="20" height="20" viewBox="0 0 22 22" fill="none">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M20.955 11.957a8 8 0 1 1-10.91-10.911C4.97 1.525 1 5.8 1 11c0 5.523 4.477 10 10 10 5.2 0 9.473-3.97 9.955-9.043Z"/></svg>
</span>