/* Buttons */
.chip {
    @apply
    flex flex-row gap-x-1 items-center
    px-4 py-2
    bg-bgSet dark:bg-bgSet-dark
    border rounded-full border-blackSet dark:border-blackSet-dark
    hover:border-orangeSet dark:hover:border-orangeSet-dark
    active:border-orangeSet dark:active:border-orangeSet-dark
    focus:border-orangeSet dark:focus:border-orangeSet-dark
    text-body1 font-normal text-greySet dark:text-greySet-dark
    no-underline transition ease-in-out motion-reduce:transition-none motion-reduce:hover:transform-none
}

.primary-button {
    @apply
    py-4 px-6 cursor-pointer grid text-center
    bg-blackSet dark:bg-blackSet-dark rounded-xl
    text-bgSet dark:text-bgSet-dark text-button
    hover:bg-orangeSet dark:hover:bg-orangeSet-dark
    active:bg-orangeSet dark:active:bg-orangeSet-dark
    focus:bg-orangeSet dark:focus:bg-orangeSet-dark
    hover:text-boxSet dark:hover:text-blackSet-dark
    active:text-boxSet dark:active:text-blackSet-dark
    focus:text-boxSet dark:focus:text-blackSet-dark pointer-events-auto
    transition ease-in-out motion-reduce:transition-none motion-reduce:hover:transform-none
}

.secondary-button {
    @apply
    py-4 px-6 cursor-pointer grid text-center
    text-blackSet dark:text-blackSet-dark text-button
    border border-blackSet dark:border-blackSet-dark rounded-xl
    hover:border-orangeSet dark:hover:border-orangeSet-dark
    active:border-orangeSet dark:active:border-orangeSet-dark
    focus:border-orangeSet dark:focus:border-orangeSet-dark
    hover:bg-orangeSet dark:hover:bg-orangeSet-dark
    active:bg-orangeSet dark:active:bg-orangeSet-dark
    focus:bg-orangeSet dark:focus:bg-orangeSet-dark
    hover:text-boxSet dark:hover:text-blackSet-dark
    active:text-boxSet dark:active:text-blackSet-dark
    focus:text-boxSet dark:focus:text-blackSet-dark pointer-events-auto
    transition ease-in-out motion-reduce:transition-none motion-reduce:hover:transform-none
}

.primary-button > span,
.secondary-button > span {
    @apply
    flex flex-row gap-x-2.5 justify-start items-center
    row-start-1 row-end-2 col-start-1 col-end-2
    transition ease-in-out motion-reduce:transition-none motion-reduce:hover:transform-none
}

.primary-button svg,
.secondary-button svg {
    @apply
    stroke-blackSet dark:stroke-blackSet-dark
    stroke-current
}

.secondary-button.copied {
    @apply
    border-greenSet dark:border-greenSet-dark
    pointer-events-none
}

/* Icons e.g the social icons in the footer */
.icon {
    @apply
    basis-14 flex items-center justify-center
    h-14 min-w-[3.5rem] rounded-full
    bg-transparent transition ease-in-out opacity-100
    hover:bg-greySet/10 dark:hover:bg-greySet-dark/10
    active:bg-greySet/10 dark:active:bg-greySet-dark/10
    focus:bg-greySet/10 dark:focus:bg-greySet-dark/10
}

.icon > svg {
    @apply
    fill-greySet dark:fill-greySet-dark
    stroke-greySet dark:stroke-greySet-dark
}

.icon#theme-switch {
    @apply
    -mr-4
    relative
}

.icon#theme-switch > svg {
    @apply
    absolute
    transition ease-in-out motion-reduce:transition-none motion-reduce:hover:transform-none
}


/* Individual post card */
.gh-card {
    @apply
    rounded-lg overflow-hidden bg-cardSet dark:bg-cardSet-dark
    transition-colors ease-in-out motion-reduce:transition-none motion-reduce:hover:transform-none
}

.gh-card-link {
    @apply no-underline
}

.gh-card-image {
    @apply
    w-full aspect-video relative
}

.gh-card-image > * {
    @apply
    w-full h-full object-cover absolute
}

.gh-card-image > .gh-card-image-hover {
    @apply
    flex flex-row justify-center items-center gap-2
    bg-black/60 text-body1 font-bold text-white backdrop-blur-[2px]
    opacity-0 group-hover:opacity-100 group-focus:opacity-100
    transition-opacity ease-in-out motion-reduce:transition-none motion-reduce:hover:transform-none
}

.gh-card-title {
    @apply w-full text-body1 font-bold text-blackSet dark:text-blackSet-dark line-clamp-3 min-h-[60px]
}

.gh-card-excerpt {
    @apply w-full text-greySet
    dark:text-greySet-dark text-body2 font-normal
    line-clamp-2 min-h-[32px]
}

.gh-card-content {
    @apply flex flex-col gap-y-2 p-4 items-start
}


/* Bookmark card */
figure.kg-bookmark-card {
    @apply
    w-full p-0 my-3 mx-0 relative
    bg-cardSet dark:bg-cardSet-dark rounded-lg
    group-hover:bg-transparent dark:group-hover:bg-transparent
}

figure.kg-bookmark-card a.kg-bookmark-container {
    @apply
    w-full flex flex-row-reverse gap-4 p-4 border-none rounded-none items-start
    bg-transparent hover:border-none active:border-none focus:border-none
}

figure.kg-bookmark-card .kg-bookmark-thumbnail {
    @apply
    flex grow min-w-[22%] sm:min-w-[15%]  md:min-w-[10%] relative
    aspect-square grid
}

figure.kg-bookmark-card .kg-bookmark-thumbnail > img {
    @apply
    w-full h-full object-cover absolute rounded
    row-start-1 row-end-2 col-start-1 col-end-2
}

figure.kg-bookmark-card .kg-bookmark-thumbnail > div {
    @apply
    w-full h-full absolute rounded row-start-1 row-end-2 col-start-1 col-end-2
    opacity-0 bg-black/60 backdrop-blur-sm flex flex-row gap-x-1
    justify-center items-center text-body1 font-bold text-white group-hover:opacity-100
    transition-opacity ease-in-out motion-reduce:transition-none motion-reduce:hover:transform-none
}

figure.kg-bookmark-card .kg-bookmark-content {
    @apply
    flex flex-col gap-1 p-0 m-0 overflow-hidden
    items-start justify-start grow basis-full
}

figure.kg-bookmark-card .kg-bookmark-title {
    @apply
    text-body1 font-bold text-blackSet dark:text-blackSet-dark
}

figure.kg-bookmark-card .kg-bookmark-description {
    @apply
    text-body2 font-normal text-greySet dark:text-greySet-dark
    line-clamp-2 opacity-100 m-0 max-h-none
}

figure.kg-bookmark-card .kg-bookmark-metadata {
    @apply
    flex flex-row gap-0 m-0 mt-2 p-0
}

figure.kg-bookmark-card .kg-bookmark-icon {
    @apply
    hidden
}

figure.kg-bookmark-card .kg-bookmark-author {
    @apply
    text-text3 underline font-normal text-greySet dark:text-greySet-dark
}

figure.kg-bookmark-card .kg-bookmark-publisher {
    @apply
    hidden
}