.gh-title {
    @apply
    text-headline2 sm:text-headline font-bold
    text-blackSet dark:text-blackSet-dark
    mt-4
}

.gh-post-content {
    @apply
    text-text3 md:text-text2 xl:text-text1 font-normal
    text-greySet dark:text-greySet-dark
}

.gh-post-content b,
.gh-post-content strong {
    @apply
    font-bold
}

.gh-post-content a {
    @apply
    underline
    hover:text-orangeSet hover:dark:text-orangeSet-dark
    focus:text-orangeSet focus:dark:text-orangeSet-dark
    active:text-orangeSet active:dark:text-orangeSet-dark
}

.gh-post-content em {
    @apply
    italic
}

.gh-post-content h2 {
    @apply
    text-text2 md:text-headline2 xl:text-headline1 font-bold
}

.gh-post-content h3 {
    @apply
    text-text3 md:text-text2 xl:text-text1 font-bold
}

.gh-post-meta {
    @apply w-full
    text-greyLightSet dark:text-greyLightSet-dark
    text-body3 font-normal line-clamp-1 mt-2
}

.gh-article .gh-post-meta {
    @apply text-body3 md:text-body2 font-normal
}

.gh-post-footer {
    @apply
    w-full mt-8
}

.gh-post-footer > h2 {
    @apply
    text-headline1 font-bold
    text-blackSet dark:text-blackSet-dark
}

.gh-article-container {
    @apply
    w-full mb-8 md:mb-16
    flex flex-col
    md:block
}

.gh-article-container > nav {
    @apply
    w-full fixed md:sticky
    flex flex-row
    justify-between
    mt-0 md:mt-1.5
    top-0 right-0 left-0 backdrop-blur md:backdrop-blur-0
    py-0.5 md:pb-0 md:pt-10 z-[100] md:z-0
    bg-bgSet/70 dark:bg-bgSet-dark/70
    md:bg-transparent md:dark:bg-transparent
}

.gh-article-container > .gh-article {
    @apply
    w-full flex flex-col grow
    mt-16 md:px-28 md:-mt-12
}

.gh-feature-image {
    @apply
    mb-8
}

.gh-feature-image > img {
    @apply
    w-full aspect-video object-cover
}

figcaption {
    @apply
    text-caption italic text-center text-greyLightSet dark:text-greyLightSet-dark
    my-2
}

.kg-image-card {
    @apply
    w-full
    mt-8
}

.kg-image-card > div {
    @apply
    w-full h-full relative
    bg-no-repeat
    bg-center
    bg-cover
    before:bg-black/75
    before:content-[""]
    before:absolute
    before:left-0
    before:top-0
    before:h-full
    before:w-full
    before:z-10
    before:backdrop-blur-md
}

.photo-zoom-handle {
    @apply
    top-2 right-2 sm:top-4 sm:right-4 absolute
    z-30 w-9 h-9 sm:w-11 sm:h-11 md:w-14 md:h-14 stroke-blackSet dark:stroke-blackSet-dark
    bg-bgSet/50 dark:bg-bgSet-dark/50 rounded-full
    hidden group-focus:flex group-hover:flex justify-center items-center
    transition ease-in-out motion-reduce:transition-none motion-reduce:hover:transform-none
    hover:bg-bgSet hover:dark:bg-bgSet-dark hover:scale-105
    active:bg-bgSet active:dark:bg-bgSet-dark active:scale-105
    focus:bg-bgSet focus:dark:bg-bgSet-dark focus:scale-105
    cursor-pointer
}

/* Image lightbox */
.photo-lightbox {
    @apply
    items-center justify-center
    hidden fixed z-[150]
    top-0 left-0
    w-screen h-screen
    max-w-full max-h-full
    overflow-auto
    bg-black/50
}

.photo-lightbox > div {
    @apply
    relative
    mx-auto
    max-w-fit max-h-fit
}

.photo-lightbox > div > img {
    @apply
    w-screen
}

.kg-image-card > div > img {
    @apply
    h-full w-auto
    mx-auto
    z-20
    relative
}

.image-exif {
    @apply
    flex flex-row pt-4 pb-8 flex-wrap
    gap-8 items-center justify-center
}

.image-exif > span {
    @apply
    flex flex-col items-center justify-between gap-y-2
    text-exif text-greySet dark:text-greySet-dark text-center
}

.image-exif > span#camera:before {
    @apply
    content-[url('../images/exif_camera.svg')]
    dark:content-[url('../images/exif_camera_dark.svg')]
}

.image-exif > span#aperture:before {
    @apply
    content-[url('../images/exif_aperture.svg')]
    dark:content-[url('../images/exif_aperture_dark.svg')]
}

.image-exif > span#shutter:before {
    @apply
    content-[url('../images/exif_shutter.svg')]
    dark:content-[url('../images/exif_shutter_dark.svg')]
}

.image-exif > span#iso:before {
    @apply
    content-[url('../images/exif_iso.svg')]
    dark:content-[url('../images/exif_iso_dark.svg')]
}

.image-exif > span#focal:before {
    @apply
    content-[url('../images/exif_focal.svg')]
    dark:content-[url('../images/exif_focal_dark.svg')]
}

.code-copy {
    @apply
    text-button text-blackSet dark:text-blackSet-dark
    font-sans
}

.code-copy > div {
    @apply
    grid pt-1 pr-1 sm:pt-3 sm:pr-3
}

.code-copy > div > span {
    @apply
    row-start-1 row-end-2 col-start-1 col-end-2
    flex flex-row gap-2.5 cursor-pointer justify-self-end
    duration-500 py-2.5 justify-center relative rounded-md
    transition ease-in-out motion-reduce:transition-none motion-reduce:hover:transform-none
}

.code-copy > div > span#copy {
    @apply
    cursor-pointer px-4
    hover:bg-borderSet hover:bg-borderSet-dark
    focus:bg-borderSet focus:bg-borderSet-dark
    active:bg-borderSet active:bg-borderSet-dark
    hover:bg-borderSet hover:bg-borderSet-dark
    stroke-current z-20
}

.code-copy > div > span#copied {
    @apply
    cursor-default z-10
    px-4 sm:px-2
}

.code-copy > div > span > span {
    @apply
    hidden sm:block
}


.gh-card-tags {
    @apply
    flex flex-row gap-2.5 flex-wrap
    items-center justify-start content-start
}

.gh-post-primary-tag {
    @apply
    bg-boxSet dark:bg-boxSet-dark  rounded-lg
    px-2 py-1.5 w-fit
    flex flex-row gap-1 justify-start items-center
    text-greySet dark:text-greySet-dark
    stroke-greySet dark:stroke-greySet-dark
    text-body2 font-normal
}

.external-reading-time {
    @apply
    hidden
}