/* PrismJS 1.29.0
https://prismjs.com/download.html?ref=ghost.org#themes=prism-tomorrow&languages=markup+css+clike+javascript+dart+docker+go+java+kotlin+rust+typescript&plugins=line-numbers */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

@tailwind base;

code[class*="language-"],
pre[class*="language-"] {
    word-spacing: normal;
    word-wrap: normal;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    @apply
    font-mono text-code md:text-largeCode text-greySet dark:text-greySet-dark
    text-left whitespace-pre break-normal overflow-auto
}

/* Code blocks */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    @apply
    w-full
    bg-cardSet dark:bg-cardSet-dark
    border-borderSet/40 dark:border-borderSet-dark/40
    border rounded-lg overflow-hidden
    flex flex-col
}

:not(pre) > code[class*="language-"],
:not(figure) > pre[class*="language-"],
figure.kg-code-card {
    @apply
    my-8
}

pre[class*="language-"] > code[class*="language-"] {
    @apply
    block overflow-y-hidden overflow-x-auto grow p-2.5
    scrollbar:w-2.5 scrollbar:h-2.5
    scrollbar-track:bg-gray-200 dark:scrollbar-track:bg-slate-800
    scrollbar-thumb:bg-gray-400 dark:scrollbar-thumb:bg-slate-500
}

/* Inline code */
@layer base {
    :not(pre) > code {
        @apply
        whitespace-normal rounded
        bg-gray-200 dark:bg-slate-700
        font-mono text-code px-1 py-0.5
    }
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #999;
}

.token.punctuation {
    @apply
    text-lime-500 dark:text-lime-600
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
    color: #e2777a;
}

.token.function-name {
    color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
    @apply
    text-orange-700 dark:text-[#f08d49]
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
    @apply
    text-sky-700 dark:text-[#268BD2]
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
    @apply
    text-violet-400 dark:text-[#AB89B2]
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
    @apply
    text-green-500 dark:text-green-700
}

.token.operator,
.token.entity,
.token.url {
    @apply
    text-teal-600 dark:text-teal-400
}

.token.important,
.token.bold {
    font-weight: 600;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.inserted {
    color: green;
}

.code-collapse {
    @apply
    relative
    transition-all ease-in-out duration-1000
    motion-reduce:transition-none
    inline align-sub;
}

.code-collapse .code-collapse-icon {
    @apply
    col-start-1 row-start-1 justify-self-end self-center
    cursor-pointer inline-flex items-center justify-center
    p-0 leading-none
    border-0 bg-transparent;
}

.code-collapse .code-collapse-icon svg {
    @apply
    w-6
    fill-gray-800 dark:fill-gray-300
    dark:bg-slate-600 px-1 rounded-[2px]
}
