{{!< default}}

<div class="gh-page">
    {{> "full-header"}}
    <div class="error-page-content">
        <img src="{{asset "images/alien_on_dino.png"}}" alt="An alien on a dinosaur">
        <h1>404 Error</h1>
        <p>Oops! It looks like you've taken a wrong turn. Don't worry, we'll help you get back on track. Check out some of our other awesome content in the meantime!</p>
    </div>
</div>
