{{!< default}}

<div class="gh-page">
    {{> "full-header"}}
    <div class="error-page-content">
        <img src="{{asset "images/alien_on_dino.png"}}" alt="An alien on a dinosaur">
        <h1>Oops, Something went wrong</h1>
        <p>We are working to resolve the problem and will return shortly. <br/>In the meantime, please try again later or
            refresh your page.</p>
        <span class="group secondary-button" onclick="window.location.reload();"><span class="px-16">Refresh</span></span>
    </div>
</div>
