runtime: go115 # Go 1.15
env_variables:
  WILBURX9_MEDIUM_USERNAME: $\WILBURX9_MEDIUM_USERNAME
  WILBURX9_WP_URL: $WILBURX9_WP_URL
  WILBURX9_UNSPLASH_USERNAME: $WILBURX9_UNSPLASH_USERNAME
  WILBURX9_UNSPLASH_ACCESS_KEY: $WILBURX9_UNSPLASH_ACCESS_KEY
  WILBURX9_ENV: $WILBURX9_ENV
  WILBURX9_SENTRY_DSN: $WILBURX9_SENTRY_DSN
