<div class="gh-full-header">

    <svg class="w-10 md:w-16" viewBox="0 0 66 65" fill="none">
        <g stroke="#fff">
            <g stroke-width=".2">
                <circle cx="33" cy="33" r="23.1"/>
                <circle cx="33" cy="33" r="31.9"/>
                <circle cx="33" cy="33" r="16.1"/>
                <path d="m1.07.93 64 64M64.93.93l-64 64"/>
            </g>
            <path stroke-width=".5" d="M1.25 1.25h63.5v63.5H1.25z"/>
        </g>
    </svg>

    <nav class="hidden lg:flex lg:grow lg:flex-row justify-between items-center">
        {{> "header-nav"}}
        <a href="https://wilburx9.com" class="chip">About Me</a>
    </nav>
    <span class="grow lg:hidden"></span>
    <a href="https://wilburx9.com" class="chip lg:hidden">About Me</a>
    <svg width="20" height="20" fill="none">
        <path stroke="#e2e2e2" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M10 1v1m0 16v1m-8-9H1m3.314-5.686-.689-.689m12.06.69.69-.69M4.315 15.69l-.69.69m12.06-.69.69.69M19 10h-1m-3 0a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
    </svg>
</div>