{{!< default}}

<div class="gh-page">
    {{> "full-header"}}
    <div class="error-page-content">
        <img src="{{asset "images/alien_on_dino.png"}}" alt="An alien on a dinosaur">
        <h1>404 Error</h1>
        <p>Looks like you're lost in the cosmos of our website.We're working hard to get you back to Earth, but in the meantime, why not explore some of our other stellar content?</p>
    </div>
</div>
