{{!< default}}
<div class="gh-page">
    {{> "full-header"}}
    <div class="home-content">
        <div id="left-content">
            <h1>
                I am
                <span
                    class="text-transparent bg-clip-text bg-gradient-to-r from-[#F59300] to-[#C41CFF]">Wilberforce</span>
                ,<br/>a Software Engineer and Visual Storyteller.
            </h1>
            <h2>
                Seasoned software engineer and avid photographer. Combining technical expertise with a creative eye
                to deliver impactful digital experiences.
            </h2>
            <div class="flex flex-row gap-x-4 pt-8">
                <a href="/blog" class="secondary-button">Blog</a>
                <a href="https://www.linkedin.com/in/wilburx9" class="secondary-button">LinkedIn</a>
            </div>
        </div>
        <div id="right-content">
            <div class="group" id="pattern">
                <div id="yellow-wrapper">
                    <div id="white-circle"></div>
                    <div id="avatar" class="grayscale group-hover:grayscale-0 group-focus:grayscale-0"></div>
                </div>
            </div>
        </div>
    </div>
</div>