{{!< default}}

<div class="gh-page">
    {{> "listing-header"}}
    <div class="gh-postfeed">
        {{#foreach posts}}
            {{> "post-card"}}
        {{/foreach}}
    </div>
    {{> "listing-footer"}}
</div>
