{{!< default}}

<div class="gh-page">
    {{> "listing-header"}}
    <div class="gh-postfeed">
        {{#tag}}
            {{#get "posts" filter="primary_tag:{{slug}}" include="tags"}}
                {{#foreach posts}}
                    {{> "post-card"}}
                {{/foreach}}
            {{/get}}
        {{/tag}}
    </div>
    {{> "listing-footer"}}
</div>
