<div class="gh-footer">
    <span>
        <a href="https://www.linkedin.com/in/wilburx9" class="gh-footer-icon hover:fill-[#0A66C2]">{{> "icons/linkedin"}}</a>
        <a href="https://github.com/wilburt" class="gh-footer-icon">{{> "icons/github"}}</a>
        <a href="https://twitter.com/wilburx09" class="gh-footer-icon hover:fill-[#1DA1F2]">{{> "icons/twitter"}}</a>
        <a href="https://instagram.com/wilburx9" class="gh-footer-icon hover:fill-[#E1306C]">{{> "icons/instagram"}}</a>
    </span>
    <p>
        Copyright &copy;
        <span id="copyright">
            <script>
                document
                    .getElementById('copyright')
                    .appendChild(document.createTextNode(new Date().getFullYear().toString()))
            </script>
        </span>
        All rights reserved.
    </p>
</div>