<!-- Header for templates that list post articles -->
<div class="gh-full-header {{#is "home"}}justify-between{{/is}}">

    <a class="no-underline" href="{{#is "home"}}/{{else}}/blog{{/is}}">
        <svg class="w-10 md:w-16" viewBox="0 0 1225 1225" fill="none">
            <path class="fill-greySet dark:fill-greySet-dark" d="M799.947 408.483 671.572 868H562.947l-86.242-327.192L386.514 868l-107.967.658L154.78 408.483h98.75L334.505 765.3l93.484-356.817h102.7l88.216 354.842 81.634-354.842h99.408ZM1000.78 592l-46.998-70.903L912.147 592h-61.834l74.613-114.599-75.438-113.775h65.132l46.582 70.491 42.048-70.491h61.83l-75.022 113.775L1065.91 592h-65.13Zm-83.674 242.493c2.199 12.092 7.146 21.436 14.841 28.032 7.969 6.321 18.55 9.481 31.741 9.481 17.039 0 29.406-7.008 37.102-21.024 7.69-14.29 11.54-38.199 11.54-71.727-6.32 8.794-15.251 15.664-26.794 20.611-11.267 4.947-23.497 7.42-36.688 7.42-17.588 0-33.528-3.572-47.818-10.718-14.016-7.42-25.146-18.275-33.391-32.566-8.244-14.565-12.367-32.153-12.367-52.765 0-30.505 9.069-54.689 27.207-72.552 18.138-18.138 42.872-27.207 74.201-27.207 39.025 0 66.51 12.504 82.45 37.513 16.21 25.008 24.32 62.658 24.32 112.95 0 35.727-3.16 64.995-9.48 87.805-6.05 22.81-16.63 40.123-31.75 51.94-14.84 11.818-35.172 17.726-61.005 17.726-20.337 0-37.65-3.847-51.941-11.542-14.29-7.97-25.283-18.276-32.978-30.917-7.42-12.917-11.68-27.07-12.779-42.46h53.589Zm43.697-74.201c14.29 0 25.558-4.397 33.802-13.191 8.245-8.794 12.365-20.611 12.365-35.452 0-16.214-4.39-28.718-13.189-37.512-8.519-9.069-20.199-13.604-35.039-13.604-14.841 0-26.658 4.672-35.452 14.016-8.519 9.069-12.779 21.161-12.779 36.276 0 14.565 4.122 26.52 12.367 35.864 8.519 9.069 21.161 13.603 37.925 13.603Z"/>
            <path class="stroke-greySet dark:stroke-greySet-dark" stroke-width="50" d="M25 25h1175v1175H25z"/>
        </svg>
    </a>
    {{^is "home"}}
        <nav class="hidden lg:flex lg:grow lg:flex-row justify-between items-center">
            {{> "header-nav"}}
            <a href="/" id="about-me" class="chip">About Me</a>
        </nav>
        <span class="grow lg:hidden"></span>
        <a href="/" id="about-me" class="chip lg:hidden">About Me</a>
    {{/is}}
    {{> "theme-switch"}}
</div>
{{^is "home"}}
    <nav class="lg:hidden w-full flex flex-row justify-between items-center pb-6">
        {{> "header-nav"}}
    </nav>
{{/is}}
<script src="{{asset "built/tag.js"}}"></script>