<div class="gh-tag-nav-container">
    <div class="group header-tag" data-slug="photography">
        <span class="gh-tag-nav">
            {{> "icons/photography"}}
            Photography
        </span>
        <span class="gh-tag-nav-indicator"
              id="{{#is "tag"}}{{#tag}}{{#match slug 'photography'}}active{{/match}}{{/tag}}{{/is}}"></span>
    </div>
    <div class="group header-tag" data-slug="software">
        <span class="gh-tag-nav">
            {{> "icons/software"}}
            Software
        </span>
        <span class="gh-tag-nav-indicator"
              id="{{#is "tag"}}{{#tag}}{{#match slug 'software'}}active{{/match}}{{/tag}}{{/is}}"></span>
    </div>
</div>