<!--Footer for templates that list post articles -->
<div class="flex flex-col gap-x-1 pt-11 md:pt-20 pb-11 md:pb-24 items-center">
    <img class="w-32 pb-3 rounded-full" src="{{asset "images/resting_alien.png"}}"
         alt="An alien working on a computer">
    <h4 class="text-body1 font-bold text-blackSet dark:text-blackSet-dark">
        Exciting updates in the works!
    </h4>
    <p class="text-body2 font-normal text-greyLightSet dark:text-greyLightSet-dark">
        Check back soon for the latest updates.
    </p>
</div>