<div class="subscription-modal">
    <div class="subscription-content">
        <form name="subscription-form" novalidate>
            <img class="subscription-icon" src="{{asset "images/mailbox.png"}}" alt="Mailbox">
            <div class="subscription-title">Stay Tuned!</div>
            <div class="subscription-desc">Just pick your favourite topics and share your email to subscribe.</div>
            <div class="subscription-subheader">Pick your Topics</div>
            <div class="subscription-tags">
                <input type="checkbox" id="photography" name="tags" value="photography"/>
                <label for="photography" class="chip">
                    {{> "icons/photography"}} Photography</label>

                <input type="checkbox" id="programming" name="tags" value="programming"/>
                <label for="programming" class="chip">
                    {{> "icons/programming"}} Programming</label>
            </div>
            <div class="subscription-subheader">Enter your Email</div>
            <div class="subscription-email">
                <input type="email" id="email" name="email">
                <label for="email">Enter your email here</label>
            </div>
            <p class="subscription-error"></p>
            <div class="subscriptions-actions">
                <div class="captcha-container"></div>
                <div class="button-container">
                    <button type="submit" class="primary-button">Continue</button>
                </div>
            </div>
        </form>
    </div>
    <script src="{{asset "built/subscription.js"}}"></script>
</div>