.App {
    text-align: center;
    background-color: black;
}

.App-content {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    padding: 0 calc(10px + 2vmin);
    color: white;
}

.Hr {
    color: azure;
    background-color: azure;
    width: 20%;
    height: 0.05em;
    border: none;
}
