/*

This is a development CSS file which is compiled to a minified
production stylesheet in assets/built/screen.css using: gulp dev

*/

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* Base components */
@import "vars.css";
@import "components/global.css";
@import "components/forms.css";
@import "components/buttons.css";

/* Ghost components */
@import "ghost/header.css";
@import "ghost/content.css";
@import "ghost/readmore.css";
@import "ghost/members.css";
@import "ghost/errors.css";
@import "ghost/footer.css";
@import "ghost/badge.css";


/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

html,
.gh-viewport {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #fff;
}

.gh-main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.gh-page {
    padding: 0 4vmin;
}

.gh-article {
    padding: 8vmin 0;
}

.gh-postfeed {
    @apply grid grid-cols-3 gap-6
}

.gh-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.gh-head-actions a {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.gh-head-actions a svg {
    height: 1.8rem;
    fill: currentcolor;
}

.gh-head-actions a:first-child svg {
    margin-left: 20px;
}

.gh-head-actions a:last-child svg {
    height: 2rem;
}

/* Index
/* ---------------------------------------------------------- */

.gh-card {
    @apply rounded-lg overflow-hidden bg-cardSet dark:bg-cardSet-dark
}

.gh-card-link {
    @apply no-underline
}

.gh-card-image {
    @apply w-full aspect-video object-cover
}

.gh-post-primary-tag {
    @apply bg-boxSet dark:bg-boxSet-dark px-2 py-1.5 flex flex-row gap-1 justify-start items-center rounded-lg
    text-greySet dark:text-greySet-dark stroke-greySet dark:stroke-greySet-dark text-body3
}

.gh-card-title {
    @apply w-full text-body1Bold text-blackSet dark:text-blackSet-dark line-clamp-3 min-h-[60px]
}

.gh-card-excerpt {
    @apply w-full text-greySet dark:text-greySet-dark text-body3 line-clamp-2 min-h-[32px]
}

.gh-card-meta {
    @apply w-full text-greyLightSet dark:text-greyLightSet-dark text-body3 line-clamp-1
}

.gh-card-content {
    @apply flex flex-col gap-y-4 p-4 items-start
}


/* Page
/* ---------------------------------------------------------- */

.gh-page-head {
    margin: 0 auto;
    padding: 8vmin 0 4vmin;
    text-align: center;
}

.gh-page-image {
    margin: 4vmin 0 0 0;
}

.gh-page-head > p {
    max-width: 720px;
    margin: 0.3em auto 0;
    padding: 0 6vmin;
    font-size: 1.3em;
    line-height: 1.4em;
    opacity: 0.5;
}

@media (max-width: 700px) {
    .gh-page-head > p {
        font-size: 1.6rem;
    }
}


/* Post
/* ---------------------------------------------------------- */

.gh-header {
    padding: 0 0 8vmin 0;
    text-align: center;
}

.gh-post-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

.gh-excerpt {
    margin: 1rem 0 0 0;
}

.gh-feature-image {
    grid-column: wide-start / wide-end;
    width: 100%;
    margin: 8vmin 0 0;
}

.gh-post-footer {
    margin: 2rem 0;
}


/* Author Archive
/* ---------------------------------------------------------- */

.gh-author-image {
    height: 12vmin;
    width: 12vmin;
    margin: 0 auto 1.5em;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}

.gh-author-meta {
    margin: 2vmin 0 0 0;
    font-size: 1.2em;
}

.gh-author-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gh-author-links a {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0 0.75vmin;
}

.gh-author-links a + a:before {
    display: block;
    content: "";
    margin: 0 1.25vmin 0 0;
    height: 1em;
    width: 1px;
    background: rgba(0, 0, 0, 0.3);
    transform: rotate(20deg);
}

@media (max-width: 700px) {
    .gh-author-meta {
        font-size: 1.6rem;
    }
}
