/*

This is a development CSS file which is compiled to a minified
production stylesheet in assets/built/screen.css using: gulp dev

*/

@import "prism.css";
@import "ghost/content.css";

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Main
/* ---------------------------------------------------------- */

body {
    @apply
    overflow-x-clip
}

html,
.gh-body {
    @apply
    h-full w-screen min-h-screen
    bg-bgSet dark:bg-bgSet-dark
    transition-colors motion-reduce:transition-none
}

.gh-content {
    @apply
    h-full w-screen
    flex flex-col overflow-y-auto
    px-4 sm:px-16 md:px-20 xl:px-4 2xl:px-0
}

.gh-main {
    @apply
    w-screen max-w-screen-xl grow mx-auto
    bg-bgSet dark:bg-bgSet-dark
}
.gh-footer {
    @apply
    w-screen max-w-screen-xl mx-auto
    bg-bgSet dark:bg-bgSet-dark
}

.gh-page {
    @apply w-full flex flex-col h-full
}

.gh-postfeed {
    @apply
    grid  gap-4 md:gap-6
    grid-cols-1 md:grid-cols-2 lg:grid-cols-3
}

/* Index
/* ---------------------------------------------------------- */

.gh-full-header {
    @apply flex flex-row w-full items-center gap-x-4
    pt-6 lg:pt-11 pb-5 lg:pb-9
}

.gh-tag-nav-container {
    @apply
    flex flex-col gap-x-0 items-center
    no-underline
    transition-colors motion-reduce:transition-none motion-reduce:hover:transform-none
}

.gh-tag-nav {
    @apply
    flex flex-row gap-x-1 items-center
    px-2.5 py-3.5
    text-body1 text-greySet dark:text-greySet-dark
    stroke-greySet dark:stroke-greySet-dark
}

.gh-tag-nav-indicator {
    @apply
    w-11/12 h-1
    rounded-t-full
    bg-transparent
    transition motion-reduce:transition-none motion-reduce:hover:transform-none
    group-hover:w-full group-hover:bg-orangeSet dark:group-hover:bg-orangeSet-dark group-hover:-translate-y-1
    group-active:w-full group-active:bg-orangeSet dark:group-active:bg-orangeSet-dark group-active:-translate-y-1
    group-focus:w-full group-focus:bg-orangeSet dark:group-focus:bg-orangeSet-dark group-focus:-translate-y-1
}

.gh-tag-nav-indicator#active {
    @apply
    w-full bg-orangeSet dark:bg-orangeSet-dark -translate-y-1
}

.gh-card {
    @apply
    rounded-lg overflow-hidden bg-cardSet dark:bg-cardSet-dark
    transition-colors motion-reduce:transition-none motion-reduce:hover:transform-none
}

.gh-card-link {
    @apply no-underline
}

.gh-card-image {
    @apply w-full aspect-video object-cover
}

.gh-post-primary-tag {
    @apply
    bg-boxSet dark:bg-boxSet-dark  rounded-lg
    px-2 py-1.5 w-fit
    flex flex-row gap-1 justify-start items-center
    text-greySet dark:text-greySet-dark
    stroke-greySet dark:stroke-greySet-dark
    text-body3
}

.gh-card-title {
    @apply w-full text-body1Bold text-blackSet dark:text-blackSet-dark line-clamp-3 min-h-[60px]
}

.gh-card-excerpt {
    @apply w-full text-greySet dark:text-greySet-dark text-body3 line-clamp-2 min-h-[32px]
}

.gh-card-content {
    @apply flex flex-col gap-y-4 p-4 items-start
}


/* Post
/* ---------------------------------------------------------- */

.gh-title {
    @apply
    text-headline2Bold sm:text-headline1Bold
    text-blackSet dark:text-blackSet-dark
    mt-4
}

.gh-post-content {
    @apply
    text-text1
    text-greySet dark:text-greySet-dark
}

.gh-post-meta {
    @apply w-full
    text-greyLightSet dark:text-greyLightSet-dark
    text-body3 line-clamp-1
}

.gh-post-footer {
    @apply
    w-full mt-8
}

.gh-post-footer > h2 {
    @apply
    text-headline1Bold
    text-blackSet dark:text-blackSet-dark
}

.gh-article-container {
    @apply
    w-full mb-8 md:mb-16
    flex flex-col
    md:block
}

.gh-article-container > nav {
    @apply
    w-full fixed md:sticky
    flex flex-row
    justify-between
    mt-0 md:mt-1.5
    top-0 right-0 left-0 backdrop-blur md:backdrop-blur-0
    py-0.5 md:pb-0 md:pt-10 z-[100] md:z-0
    bg-bgSet/70 dark:bg-bgSet-dark/70
    md:bg-transparent md:dark:bg-transparent
}

.gh-article {
    @apply
    w-full flex flex-col grow
    md:px-28 md:-mt-12
}

.gh-feature-image {
    @apply
    mb-8
}

.gh-feature-image > img {
    @apply
    w-full aspect-video object-cover
}

figcaption {
    @apply
    text-caption italic text-center text-greyLightSet dark:text-greyLightSet-dark
    my-2
}

.kg-image-card {
    @apply
    w-full
    mt-8
}

.kg-image-card > div {
    @apply
    w-full h-full relative
    bg-no-repeat
    bg-center
    bg-cover
    before:bg-black/75
    before:content-[""]
    before:absolute
    before:left-0
    before:top-0
    before:h-full
    before:w-full
    before:z-10
    before:backdrop-blur-md
}

.photo-zoom-handle {
    @apply
    top-2 right-2 sm:top-4 sm:right-4 absolute
    z-30 w-9 h-9 sm:w-11 sm:h-11 md:w-14 md:h-14 stroke-blackSet dark:stroke-blackSet-dark
    bg-bgSet/50 dark:bg-bgSet-dark/50 rounded-full
    hidden group-focus:flex group-hover:flex justify-center items-center
    transition motion-reduce:transition-none motion-reduce:hover:transform-none
    hover:bg-bgSet hover:dark:bg-bgSet-dark hover:scale-105
    active:bg-bgSet active:dark:bg-bgSet-dark active:scale-105
    focus:bg-bgSet focus:dark:bg-bgSet-dark focus:scale-105
    cursor-pointer
}

/* Image lightbox */
.photo-lightbox {
    @apply
    items-center justify-center
    hidden fixed z-[150]
    top-0 left-0
    w-screen h-screen
    max-w-full max-h-full
    overflow-auto
    bg-black/50
}

.photo-lightbox > div {
    @apply
    relative
    mx-auto
    max-w-fit max-h-fit
}

.photo-lightbox > div > img {
    @apply
    w-screen
}

.kg-image-card > div > img {
    @apply
    h-full w-auto
    mx-auto
    z-20
    relative
}

.image-exif {
    @apply
    flex flex-row pt-4 pb-8 flex-wrap
    gap-8 items-center justify-center
}

.image-exif > span {
    @apply
    flex flex-col items-center justify-between gap-y-2
    text-exif text-greySet dark:text-greySet-dark text-center
}

.image-exif > span#camera:before {
    @apply
    content-[url('../images/exif_camera.svg')]
    dark:content-[url('../images/exif_camera_dark.svg')]
}

.image-exif > span#aperture:before {
    @apply
    content-[url('../images/exif_aperture.svg')]
    dark:content-[url('../images/exif_aperture_dark.svg')]
}

.image-exif > span#shutter:before {
    @apply
    content-[url('../images/exif_shutter.svg')]
    dark:content-[url('../images/exif_shutter_dark.svg')]
}

.image-exif > span#iso:before {
    @apply
    content-[url('../images/exif_iso.svg')]
    dark:content-[url('../images/exif_iso_dark.svg')]
}

.image-exif > span#focal:before {
    @apply
    content-[url('../images/exif_focal.svg')]
    dark:content-[url('../images/exif_focal_dark.svg')]
}

/* Footer */
.gh-footer {
    @apply
    w-full
    flex flex-col md:flex-row justify-between items-center
    pb-8 md:pb-16
}

.gh-footer > span {
    @apply
    flex flex-row gap-x-6 items-center
}

.gh-footer p {
    @apply
    text-center md:text-left text-body3 text-blackSet dark:text-blackSet-dark py-4
}

.gh-footer-icon {
    @apply
    w-6 h-auto
    fill-blackSet dark:fill-blackSet-dark
    transition hover:scale-125 motion-reduce:transition-none motion-reduce:hover:transform-none
}

/* Components */
.chip {
    @apply
    flex flex-row gap-x-1 items-center
    px-4 py-2
    bg-bgSet dark:bg-bgSet-dark
    border rounded-full border-blackSet dark:border-blackSet-dark
    hover:border-orangeSet dark:hover:border-orangeSet-dark
    active:border-orangeSet dark:active:border-orangeSet-dark
    focus:border-orangeSet dark:focus:border-orangeSet-dark
    text-body1 text-greySet dark:text-greySet-dark
    no-underline transition motion-reduce:transition-none motion-reduce:hover:transform-none
}

.secondary-button {
    @apply
    py-4 px-6 cursor-pointer grid
    text-blackSet dark:text-blackSet-dark text-button
    border border-blackSet dark:border-blackSet-dark rounded-xl
    hover:border-orangeSet dark:hover:border-orangeSet-dark
    active:border-orangeSet dark:active:border-orangeSet-dark
    focus:border-orangeSet dark:focus:border-orangeSet-dark
    hover:bg-orangeSet dark:hover:bg-orangeSet-dark
    active:bg-orangeSet dark:active:bg-orangeSet-dark
    focus:bg-orangeSet dark:focus:bg-orangeSet-dark
    hover:text-boxSet dark:hover:text-blackSet-dark
    active:text-boxSet dark:active:text-blackSet-dark
    focus:text-boxSet dark:focus:text-blackSet-dark pointer-events-auto
    transition motion-reduce:transition-none motion-reduce:hover:transform-none
}

.secondary-button > span {
    @apply
    flex flex-row gap-x-2.5 justify-start items-center
    row-start-1 row-end-2 col-start-1 col-end-2
    transition motion-reduce:transition-none motion-reduce:hover:transform-none
}

.secondary-button svg {
    @apply
    stroke-blackSet dark:stroke-blackSet-dark
    stroke-current
}

.secondary-button.copied {
    @apply
    border-greenSet dark:border-greenSet-dark
    pointer-events-none
}

.icon {
    @apply
    basis-14 flex items-center justify-center
    h-14 min-w-[3.5rem] rounded-full
    bg-transparent transition opacity-100
    hover:bg-greySet/10 dark:hover:bg-greySet-dark/10
    active:bg-greySet/10 dark:active:bg-greySet-dark/10
    focus:bg-greySet/10 dark:focus:bg-greySet-dark/10
}

.icon > svg {
    @apply
    fill-greySet dark:fill-greySet-dark
    stroke-greySet dark:stroke-greySet-dark
}

.icon#theme-switch {
    @apply
    -mr-4
    relative
}

.icon#theme-switch > svg {
    @apply
    absolute
    transition motion-reduce:transition-none motion-reduce:hover:transform-none
}

hr {
    @apply
    w-full border opacity-10
    border-blackSet dark:border-blackSet-dark
}


/* Read More */

.gh-more-posts {
    @apply
    w-full
}

.gh-more-posts > h2 {
    @apply
    text-headline1Bold
    text-blackSet dark:text-blackSet-dark
    mb-4 mt-8
}

.code-copy {
    @apply
    text-button text-blackSet dark:text-blackSet-dark
    font-sans
}

.code-copy > div {
    @apply
    grid pt-1 pr-1 sm:pt-3 sm:pr-3
}

.code-copy > div > span {
    @apply
    row-start-1 row-end-2 col-start-1 col-end-2
    flex flex-row gap-2.5 cursor-pointer justify-self-end
    duration-500 py-2.5 justify-center relative rounded-md
    transition motion-reduce:transition-none motion-reduce:hover:transform-none
}

.code-copy > div > span#copy {
    @apply
    cursor-pointer px-4
    hover:bg-borderSet hover:bg-borderSet-dark
    focus:bg-borderSet focus:bg-borderSet-dark
    active:bg-borderSet active:bg-borderSet-dark
    hover:bg-borderSet hover:bg-borderSet-dark
    stroke-current z-20
}

.code-copy > div > span#copied {
    @apply
    cursor-default z-10
    px-4 sm:px-2
}

.code-copy > div > span > span {
    @apply
    hidden sm:block
}

.hide {
    @apply
    opacity-0
}

.error-page-content {
    @apply
    flex flex-col grow
    justify-center items-center
    pb-7 md:pb-12 lg:pb-9
}

.error-page-content img {
    @apply
    rounded-full w-3/5 md:w-72
}

.error-page-content h1 {
    @apply
    text-headline1Bold md:text-title text-center
    mt-9 text-blackSet dark:text-blackSet-dark
}

.error-page-content p {
    @apply
    text-body1 text-center max-w-prose
    mt-2 mb-8 text-greyLightSet dark:text-greyLightSet-dark
}

