/*

This is a development CSS file which is compiled to a minified
production stylesheet in assets/built/screen.css using: gulp dev

*/

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* Base components */
@import "vars.css";
@import "components/global.css";
@import "components/forms.css";
@import "components/buttons.css";

/* Ghost components */
@import "ghost/header.css";
@import "ghost/content.css";
@import "ghost/readmore.css";
@import "ghost/members.css";
@import "ghost/errors.css";
@import "ghost/footer.css";
@import "ghost/badge.css";


/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

html,
.gh-body {
    @apply h-screen w-screen bg-bgSet dark:bg-bgSet-dark
}

.gh-content {
    @apply max-w-screen-xl h-screen flex flex-col mx-auto px-4 md:px-20 xl:px-4 2xl:px-0
}

.gh-main {
    @apply
    w-full max-w-inherit
}

.gh-page {
    @apply w-full flex flex-col
}

.gh-postfeed {
    @apply grid
    grid-cols-1 md:grid-cols-2 lg:grid-cols-3
    gap-4 md:gap-6
}

/*TODO: Remove. .gh-page should be enough */
.gh-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.gh-head-actions a {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.gh-head-actions a svg {
    height: 1.8rem;
    fill: currentcolor;
}

.gh-head-actions a:first-child svg {
    margin-left: 20px;
}

.gh-head-actions a:last-child svg {
    height: 2rem;
}

/* Index
/* ---------------------------------------------------------- */

.gh-full-header {
    @apply flex flex-row w-full items-center gap-x-4
    pt-6 lg:pt-11 pb-5 lg:pb-9
}

.gh-tag-nav-container {
    @apply
    flex flex-col gap-x-0 items-center
    bg-bgSet dark:bg-bgSet-dark
    no-underline
}

.gh-tag-nav {
    @apply
    flex flex-row gap-x-1 items-center
    px-2.5 py-3.5
    text-body1 text-greySet dark:text-greySet-dark
    stroke-greySet dark:stroke-greySet-dark
}

.gh-tag-nav-indicator {
    @apply
    w-11/12 h-1
    rounded-t-full
    bg-transparent
    transition motion-reduce:transition-none motion-reduce:hover:transform-none
    group-hover:w-full group-hover:bg-orangeSet dark:group-hover:bg-orangeSet-dark group-hover:-translate-y-1
    group-active:w-full group-active:bg-orangeSet dark:group-active:bg-orangeSet-dark group-active:-translate-y-1
    group-focus:w-full group-focus:bg-orangeSet dark:group-focus:bg-orangeSet-dark group-focus:-translate-y-1
}

.gh-card {
    @apply rounded-lg overflow-hidden bg-cardSet dark:bg-cardSet-dark
}

.gh-card-link {
    @apply no-underline
}

.gh-card-image {
    @apply w-full aspect-video object-cover
}

.gh-post-primary-tag {
    @apply
    bg-boxSet dark:bg-boxSet-dark  rounded-lg
    px-2 py-1.5 w-fit
    flex flex-row gap-1 justify-start items-center
    text-greySet dark:text-greySet-dark
    stroke-greySet dark:stroke-greySet-dark
    text-body3
}

.gh-card-title {
    @apply w-full text-body1Bold text-blackSet dark:text-blackSet-dark line-clamp-3 min-h-[60px]
}

.gh-card-excerpt {
    @apply w-full text-greySet dark:text-greySet-dark text-body3 line-clamp-2 min-h-[32px]
}

.gh-card-content {
    @apply flex flex-col gap-y-4 p-4 items-start
}


/* Page
/* ---------------------------------------------------------- */

.gh-page-head {
    margin: 0 auto;
    padding: 8vmin 0 4vmin;
    text-align: center;
}

.gh-page-image {
    margin: 4vmin 0 0 0;
}

.gh-page-head > p {
    max-width: 720px;
    margin: 0.3em auto 0;
    padding: 0 6vmin;
    font-size: 1.3em;
    line-height: 1.4em;
    opacity: 0.5;
}

@media (max-width: 700px) {
    .gh-page-head > p {
        font-size: 1.6rem;
    }
}


/* Post
/* ---------------------------------------------------------- */

.gh-title {
    @apply
    text-headline1Bold
    text-blackSet dark:text-blackSet-dark
    mt-4
}

.gh-post-content {
    @apply
    text-text1
    text-greySet dark:text-greySet-dark
}

.gh-post-meta {
    @apply w-full
    text-greyLightSet dark:text-greyLightSet-dark
    text-body3 line-clamp-1
}

.gh-post-footer {
    @apply
    w-full mt-8
}

.gh-post-footer > h2 {
    @apply
    text-headline1Bold
    text-blackSet dark:text-blackSet-dark
}

.gh-article-container {
    @apply
    w-full my-16
    max-w-inherit
}

.gh-article-container > nav{
    @apply
    w-inherit max-w-inherit fixed
    flex flex-row
    justify-between
    mt-1.5
}

.gh-article {
    @apply
    w-full flex flex-col grow
    px-28
}

.gh-excerpt {
    margin: 1rem 0 0 0;
}

.gh-feature-image > img {
    @apply
    w-full aspect-video object-cover
}

figcaption {
    @apply
    text-caption italic text-center text-greyLightSet dark:text-greyLightSet-dark
    my-2
}

.kg-image-card {
    @apply
    w-full
    mt-8
}

.kg-image-card > div {
    @apply
    w-full h-full relative
    bg-no-repeat
    bg-center
    bg-cover
    before:bg-black/60
    before:content-[""]
    before:absolute
    before:left-0
    before:top-0
    before:h-full
    before:w-full
    before:z-10
    before:backdrop-blur-md
}

.photo-zoom-handle {
    @apply
    top-4 right-4 absolute
    z-30 h-12 w-12 stroke-blackSet dark:stroke-blackSet-dark
    bg-bgSet/50 dark:bg-bgSet-dark/50 rounded-full
    flex justify-center items-center
    transition motion-reduce:transition-none motion-reduce:hover:transform-none
    hover:bg-bgSet hover:dark:bg-bgSet-dark hover:scale-105
    active:bg-bgSet active:dark:bg-bgSet-dark active:scale-105
    focus:bg-bgSet focus:dark:bg-bgSet-dark focus:scale-105
}

/* Image lightbox*/
.photo-lightbox {
    @apply
    items-center justify-center
    hidden fixed z-50
    top-0 left-0
    w-screen h-screen
    overflow-auto
    bg-black/50
    py-28
}

.photo-lightbox > div {
    @apply
    relative
    mx-auto
    max-w-fit max-h-full
}

.photo-lightbox > div > img {
    @apply
    w-full h-full
}

.kg-image-card > div > img {
    @apply
    h-full w-auto
    mx-auto
    z-20
    relative
}

.image-exif {
    @apply
    flex flex-row pt-4 pb-8
    gap-x-8 items-center justify-center
}

.image-exif > span {
    @apply
    flex flex-col items-center justify-between gap-y-2
    text-exif text-greySet dark:text-greySet-dark text-center
}

.image-exif > span#camera:before {
    @apply
    content-[url('../images/exif_camera.svg')]
    dark:content-[url('../images/exif_camera_dark.svg')]
}

.image-exif > span#aperture:before {
    @apply
    content-[url('../images/exif_aperture.svg')]
    dark:content-[url('../images/exif_aperture_dark.svg')]
}

.image-exif > span#shutter:before {
    @apply
    content-[url('../images/exif_shutter.svg')]
    dark:content-[url('../images/exif_shutter_dark.svg')]
}

.image-exif > span#iso:before {
    @apply
    content-[url('../images/exif_iso.svg')]
    dark:content-[url('../images/exif_iso_dark.svg')]
}

.image-exif > span#focal:before {
    @apply
    content-[url('../images/exif_focal.svg')]
    dark:content-[url('../images/exif_focal_dark.svg')]
}


/* Author Archive
/* ---------------------------------------------------------- */

.gh-author-image {
    height: 12vmin;
    width: 12vmin;
    margin: 0 auto 1.5em;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}

.gh-author-meta {
    margin: 2vmin 0 0 0;
    font-size: 1.2em;
}

.gh-author-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gh-author-links a {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0 0.75vmin;
}

.gh-author-links a + a:before {
    display: block;
    content: "";
    margin: 0 1.25vmin 0 0;
    height: 1em;
    width: 1px;
    background: rgba(0, 0, 0, 0.3);
    transform: rotate(20deg);
}

@media (max-width: 700px) {
    .gh-author-meta {
        font-size: 1.6rem;
    }
}

/* Footer */
.gh-footer {
    @apply
    w-full
    flex flex-col md:flex-row justify-between items-center
    pb-8 md:pb-16
}

.gh-footer > span {
    @apply
    flex flex-row gap-x-6 items-center
}

.gh-footer p {
    @apply
    text-center md:text-left text-body3 text-blackSet dark:text-blackSet-dark py-4
}

.gh-footer > span > a {
    @apply
    w-6 h-auto
    fill-blackSet dark:fill-blackSet-dark
    transition hover:scale-125 motion-reduce:transition-none motion-reduce:hover:transform-none
}

/* Components */
.chip {
    @apply
    flex flex-row gap-x-1 items-center
    px-4 py-2
    bg-bgSet dark:bg-bgSet-dark
    border rounded-full border-blackSet dark:border-blackSet-dark
    hover:border-orangeSet dark:hover:border-orangeSet-dark
    active:border-orangeSet dark:active:border-orangeSet-dark
    focus:border-orangeSet dark:focus:border-orangeSet-dark
    text-body1 text-greySet dark:text-greySet-dark
    no-underline transition motion-reduce:transition-none motion-reduce:hover:transform-none
}

.secondary-button {
    @apply
    flex flex-row gap-x-2.5 justify-start items-center
    py-4 px-6 cursor-pointer
    text-blackSet dark:text-blackSet-dark text-button
    border border-blackSet dark:border-blackSet-dark rounded-xl
    hover:border-orangeSet dark:hover:border-orangeSet-dark
    active:border-orangeSet dark:active:border-orangeSet-dark
    focus:border-orangeSet dark:focus:border-orangeSet-dark
    hover:bg-orangeSet dark:hover:bg-orangeSet-dark
    active:bg-orangeSet dark:active:bg-orangeSet-dark
    focus:bg-orangeSet dark:focus:bg-orangeSet-dark
    hover:text-boxSet dark:hover:text-blackSet-dark
    active:text-boxSet dark:active:text-blackSet-dark
    focus:text-boxSet dark:focus:text-blackSet-dark
    transition motion-reduce:transition-none motion-reduce:hover:transform-none
}

.secondary-button svg {
    @apply
    stroke-blackSet dark:stroke-blackSet-dark
    stroke-current
}

.icon {
    @apply
    basis-14 flex items-center justify-center
    h-14 min-w-[3.5rem] rounded-full
    bg-transparent transition
    hover:bg-greySet/10 dark:hover:bg-greySet-dark/10
    active:bg-greySet/10 dark:active:bg-greySet-dark/10
    focus:bg-greySet/10 dark:focus:bg-greySet-dark/10
}

.icon > svg {
    @apply
    fill-greySet dark:fill-greySet-dark
    stroke-greySet dark:stroke-greySet-dark
}

hr {
    @apply
    w-full border opacity-10
    border-blackSet dark:border-blackSet-dark
}


/* Read More */

.gh-more-posts {
    @apply
    w-full
}

.gh-more-posts > h2 {
    @apply
    text-headline1Bold
    text-blackSet dark:text-blackSet-dark
    mb-4 mt-8
}
